@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StudyEasy</h1>
    <p class="lead">StudyEasy aims to provide various training services with tailored courses</p>
    <p><a href="../Courses" class="btn btn-primary btn-lg">See our Courses &raquo;</a>  <a href="../Enrolments/Chart" class="btn btn-primary btn-lg">Enrol Statistics &raquo;</a> <a href="../Enrolments/Calendar" class="btn btn-primary btn-lg">Enrol with Calendar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>See Course Rating</h2>
        <p>
            See course ratings before enroll!
        </p>
        <p><a class="btn btn-default" href="../Courses/Rating">Go &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Equiry</h2>
        <p>Send us an Email with your attachments</p>
        <p><a class="btn btn-default" href="../Home/Send_Email">Send Email &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enroll Course</h2>
        <p>You can enroll in a wide variety of Courses!</p>
        <p><a class="btn btn-default" href="../Enrolments">Enroll Now &raquo;</a></p>
    </div>
</div>